@import '~antd/dist/antd.css';

.container{
  diaplay:flex
}

.nav-left{
  height: calc(100vh);
  background-color: #66aff0;

}

.main {
  flex: 1;
  height: calc(100vh);
  background-color: #ffffff;
  overflow: auto;
}

.content{
  position: relative;
  padding: 20px;
}

.header {
  height: 100px;
}

/*.footer {*/
  /*height: 100px;*/
/*}*/